<?xml version="1.0"?>
<launch>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find cit_gazebo)/worlds/cit.world"/>
  </include>

	<arg name="model" default="$(find orne_or_description)/urdf/manipulator.urdf" />
	<param name="robot_description" textfile="$(arg model)" />

	<include file="$(find cit_manipulator_control)/launch/manipulator_control.launch" />

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model manipulator" />

</launch>
