<?xml version="1.0"?>
<launch>
  <rosparam file="$(find orne_or_manipulator_control)/config/trajectory_control.yaml" command="load" />
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/manipulator" args="/manipulator/joint_state_controller /manipulator/left_arm_controller /manipulator/right_arm_controller /manipulator/left_hand_controller /manipulator/right_hand_controller"/>
</launch>
