<?xml version="1.0"?>

<robot name="orne_or" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find orne_or_description)/urdf/orne_or_cart.urdf.xacro"/>
<xacro:include filename="$(find orne_or_description)/urdf/manipulator.urdf.xacro"/>

<xacro:manipulator name="manipulator" parent="base_link">
    <origin xyz="0.040 0.000 0.137" rpy="0 0 0"/>
</xacro:manipulator>

<!--
<xacro:include filename="$(find orne_or_description)/urdf/head.xacro"/>
<xacro:sensor_kinect name="kinect" parent="base_link">
    <origin xyz="0.27 0 1.22" rpy="0 0 0"/>
</xacro:sensor_kinect>
-->

</robot>
