<!-- voice_recognition.launch -->

<launch>

    <!-- リスナーノードの実行 -->
    <node name="listener_node" pkg="voice_recognition" type="listener.py" output="screen">
        <!-- ここにノードのパラメータを設定 -->
    </node>

    <!-- start.pyノードの実行 -->
    <node name="start_node" pkg="voice_recognition" type="start.py" output="screen">
        <!-- ここにノードのパラメータを設定 -->
    </node>

    <!-- color.pyノードの実行 -->
    <node name="color_node" pkg="voice_recognition" type="color.py" output="screen">
        <!-- ここにノードのパラメータを設定 -->
    </node>

</launch>

