# set permission to all Kondo device
ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="165c", MODE="0666"
KERNEL=="ttyUSB*", MODE="0666", ATTRS{product}=="RS485 USB/Serial Converter", ATTRS{serial}=="KOUSB485"
